In [3]:
import numpy as np

import sqlalchemy
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import render_template
from flask import Flask, jsonify
import pymysql
import pandas as pd

#################################################
# Database Setup
#################################################

mysql_link="mysql://zjgcainiao:pythonrocks@boringtaxstory.cz3mz9lucrsr.us-west-2.rds.amazonaws.com:3292/TaxRate"
engine = create_engine(mysql_link)

# reflect an existing database into a new model
# Base=declarative_base()
Base = automap_base()

class household_income_by_state_us (Base):
    __tablename__ = 'household_income_by_state_us',
    State = Column(String(255), primary_key=True)
    Median_Income_2017=Column(String(255))
# reflect the tables
Base.prepare(engine, reflect=True)


# Save reference to the table
Household_Income = Base.classes.household_income_by_state_us

# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:

results = session.query(Household_Income).all()

In [5]:
results[1]

In [6]:
import json
import decimal
aa=decimal.Decimal(10.1)
str(aa)

'10.0999999999999996447286321199499070644378662109375'

In [7]:
    # console.log(results)
    # Create a dictionary from the row data and append to a list of all_passengers

In [8]:
all_households=[]
for household in results:
    households_dict={}
    households_dict['state']=household.State
    households_dict['median_income_2017']=str(household.Median_Income_2017)
    all_households.append(households_dict)

In [9]:
all_households

[{'median_income_2017': '51113.0000000000', 'state': 'Alabama'},
 {'median_income_2017': '72231.0000000000', 'state': 'Alaska'},
 {'median_income_2017': '61125.0000000000', 'state': 'Arizona'},
 {'median_income_2017': '48829.0000000000', 'state': 'Arkansas'},
 {'median_income_2017': '69759.0000000000', 'state': 'California'},
 {'median_income_2017': '74172.0000000000', 'state': 'Colorado'},
 {'median_income_2017': '72780.0000000000', 'state': 'Connecticut'},
 {'median_income_2017': '83382.0000000000', 'state': 'D.C.'},
 {'median_income_2017': '62318.0000000000', 'state': 'Delaware'},
 {'median_income_2017': '53681.0000000000', 'state': 'Florida'},
 {'median_income_2017': '57016.0000000000', 'state': 'Georgia'},
 {'median_income_2017': '73575.0000000000', 'state': 'Hawaii'},
 {'median_income_2017': '60208.0000000000', 'state': 'Idaho'},
 {'median_income_2017': '64609.0000000000', 'state': 'Illinois'},
 {'median_income_2017': '58873.0000000000', 'state': 'Indiana'},
 {'median_income_2017': '63481.0000000000', 'state': 'Iowa'},
 {'median_income_2017': '57872.0000000000', 'state': 'Kansas'},
 {'median_income_2017': '51348.0000000000', 'state': 'Kentucky'},
 {'median_income_2017': '43903.0000000000', 'state': 'Louisiana'},
 {'median_income_2017': '51664.0000000000', 'state': 'Maine'},
 {'median_income_2017': '81084.0000000000', 'state': 'Maryland'},
 {'median_income_2017': '73227.0000000000', 'state': 'Massachusetts'},
 {'median_income_2017': '57700.0000000000', 'state': 'Michigan'},
 {'median_income_2017': '71920.0000000000', 'state': 'Minnesota'},
 {'median_income_2017': '43441.0000000000', 'state': 'Mississippi'},
 {'median_income_2017': '56885.0000000000', 'state': 'Missouri'},
 {'median_income_2017': '59087.0000000000', 'state': 'Montana'},
 {'median_income_2017': '59619.0000000000', 'state': 'Nebraska'},
 {'median_income_2017': '56550.0000000000', 'state': 'Nevada'},
 {'median_income_2017': '74801.0000000000', 'state': 'New Hampshire'},
 {'median_income_2017': '72997.0000000000', 'state': 'New Jersey'},
 {'median_income_2017': '47855.0000000000', 'state': 'New Mexico'},
 {'median_income_2017': '62447.0000000000', 'state': 'New York'},
 {'median_income_2017': '50343.0000000000', 'state': 'North Carolina'},
 {'median_income_2017': '59886.0000000000', 'state': 'North Dakota'},
 {'median_income_2017': '59768.0000000000', 'state': 'Ohio'},
 {'median_income_2017': '55006.0000000000', 'state': 'Oklahoma'},
 {'median_income_2017': '64610.0000000000', 'state': 'Oregon'},
 {'median_income_2017': '63173.0000000000', 'state': 'Pennsylvania'},
 {'median_income_2017': '66390.0000000000', 'state': 'Rhode Island'},
 {'median_income_2017': '54971.0000000000', 'state': 'South Carolina'},
 {'median_income_2017': '56894.0000000000', 'state': 'South Dakota'},
 {'median_income_2017': '55240.0000000000', 'state': 'Tennessee'},
 {'median_income_2017': '59295.0000000000', 'state': 'Texas'},
 {'median_income_2017': '61372.0000000000', 'state': 'United States'},
 {'median_income_2017': '71319.0000000000', 'state': 'Utah'},
 {'median_income_2017': '63805.0000000000', 'state': 'Vermont'},
 {'median_income_2017': '71293.0000000000', 'state': 'Virginia'},
 {'median_income_2017': '75418.0000000000', 'state': 'Washington'},
 {'median_income_2017': '45392.0000000000', 'state': 'West Virginia'},
 {'median_income_2017': '63451.0000000000', 'state': 'Wisconsin'},
 {'median_income_2017': '57837.0000000000', 'state': 'Wyoming'}]

In [10]:
json.dumps(all_households)

'[{"state": "Alabama", "median_income_2017": "51113.0000000000"}, {"state": "Alaska", "median_income_2017": "72231.0000000000"}, {"state": "Arizona", "median_income_2017": "61125.0000000000"}, {"state": "Arkansas", "median_income_2017": "48829.0000000000"}, {"state": "California", "median_income_2017": "69759.0000000000"}, {"state": "Colorado", "median_income_2017": "74172.0000000000"}, {"state": "Connecticut", "median_income_2017": "72780.0000000000"}, {"state": "D.C.", "median_income_2017": "83382.0000000000"}, {"state": "Delaware", "median_income_2017": "62318.0000000000"}, {"state": "Florida", "median_income_2017": "53681.0000000000"}, {"state": "Georgia", "median_income_2017": "57016.0000000000"}, {"state": "Hawaii", "median_income_2017": "73575.0000000000"}, {"state": "Idaho", "median_income_2017": "60208.0000000000"}, {"state": "Illinois", "median_income_2017": "64609.0000000000"}, {"state": "Indiana", "median_income_2017": "58873.0000000000"}, {"state": "Iowa", "median_income_2017": "63481.0000000000"}, {"state": "Kansas", "median_income_2017": "57872.0000000000"}, {"state": "Kentucky", "median_income_2017": "51348.0000000000"}, {"state": "Louisiana", "median_income_2017": "43903.0000000000"}, {"state": "Maine", "median_income_2017": "51664.0000000000"}, {"state": "Maryland", "median_income_2017": "81084.0000000000"}, {"state": "Massachusetts", "median_income_2017": "73227.0000000000"}, {"state": "Michigan", "median_income_2017": "57700.0000000000"}, {"state": "Minnesota", "median_income_2017": "71920.0000000000"}, {"state": "Mississippi", "median_income_2017": "43441.0000000000"}, {"state": "Missouri", "median_income_2017": "56885.0000000000"}, {"state": "Montana", "median_income_2017": "59087.0000000000"}, {"state": "Nebraska", "median_income_2017": "59619.0000000000"}, {"state": "Nevada", "median_income_2017": "56550.0000000000"}, {"state": "New Hampshire", "median_income_2017": "74801.0000000000"}, {"state": "New Jersey", "median_income_2017": "72997.0000000000"}, {"state": "New Mexico", "median_income_2017": "47855.0000000000"}, {"state": "New York", "median_income_2017": "62447.0000000000"}, {"state": "North Carolina", "median_income_2017": "50343.0000000000"}, {"state": "North Dakota", "median_income_2017": "59886.0000000000"}, {"state": "Ohio", "median_income_2017": "59768.0000000000"}, {"state": "Oklahoma", "median_income_2017": "55006.0000000000"}, {"state": "Oregon", "median_income_2017": "64610.0000000000"}, {"state": "Pennsylvania", "median_income_2017": "63173.0000000000"}, {"state": "Rhode Island", "median_income_2017": "66390.0000000000"}, {"state": "South Carolina", "median_income_2017": "54971.0000000000"}, {"state": "South Dakota", "median_income_2017": "56894.0000000000"}, {"state": "Tennessee", "median_income_2017": "55240.0000000000"}, {"state": "Texas", "median_income_2017": "59295.0000000000"}, {"state": "United States", "median_income_2017": "61372.0000000000"}, {"state": "Utah", "median_income_2017": "71319.0000000000"}, {"state": "Vermont", "median_income_2017": "63805.0000000000"}, {"state": "Virginia", "median_income_2017": "71293.0000000000"}, {"state": "Washington", "median_income_2017": "75418.0000000000"}, {"state": "West Virginia", "median_income_2017": "45392.0000000000"}, {"state": "Wisconsin", "median_income_2017": "63451.0000000000"}, {"state": "Wyoming", "median_income_2017": "57837.0000000000"}]'

In [11]:
df=pd.read_json(json.dumps(all_households))
df

    median_income_2017           state
0                51113         Alabama
1                72231          Alaska
2                61125         Arizona
3                48829        Arkansas
4                69759      California
5                74172        Colorado
6                72780     Connecticut
7                83382            D.C.
8                62318        Delaware
9                53681         Florida
10               57016         Georgia
11               73575          Hawaii
12               60208           Idaho
13               64609        Illinois
14               58873         Indiana
15               63481            Iowa
16               57872          Kansas
17               51348        Kentucky
18               43903       Louisiana
19               51664           Maine
20               81084        Maryland
21               73227   Massachusetts
22               57700        Michigan
23               71920       Minnesota
24               43441     Mississippi
25               56885        Missouri
26               59087         Montana
27               59619        Nebraska
28               56550          Nevada
29               74801   New Hampshire
30               72997      New Jersey
31               47855      New Mexico
32               62447        New York
33               50343  North Carolina
34               59886    North Dakota
35               59768            Ohio
36               55006        Oklahoma
37               64610          Oregon
38               63173    Pennsylvania
39               66390    Rhode Island
40               54971  South Carolina
41               56894    South Dakota
42               55240       Tennessee
43               59295           Texas
44               61372   United States
45               71319            Utah
46               63805         Vermont
47               71293        Virginia
48               75418      Washington
49               45392   West Virginia
50               63451       Wisconsin
51               57837         Wyoming

In [12]:
aa=df[df['state']=='Wyoming']
aa

    median_income_2017    state
51               57837  Wyoming

In [13]:
print(Base.classes)

<sqlalchemy.util._collections.Properties object at 0x0000006EC21C4AC8>

In [15]:
import pandas as pd
bb=pd.read_json("https://s3-us-west-2.amazonaws.com/usmapgeojson/us_states_geo.json")

HTTPError: HTTP Error 404: Not Found

In [ ]:
bb.head()

In [ ]:
bb['features'][1]['properties']['name']

In [ ]:
bb['state']=''
bb.head(5)

In [ ]:
for index, row in bb.iterrows():
    row["state"]=row['features']['properties']['name']

In [ ]:
bb.head()

In [ ]:
joined_table=bb.set_index('state').join(df.set_index('state'))
joined_table.head()

In [ ]:
joined_table['features'][1]

In [ ]:
for index, row in joined_table.iterrows():
    row['features']['properties']['median_income_2017']=row['median_income_2017']

In [ ]:
joined_table['features'][1]['properties']

In [ ]:
joined_table[['features','type']].reset_index(drop=True).head()

In [ ]:
joined_table[['features','type']].reset_index(drop=True).to_json('./median_income_us_geo.json',orient='index')

In [ ]:
temp=[]
for index, row in joined_table[['features','type']].reset_index(drop=True).iterrows():
    temp.append(row['features'])

temp

In [ ]:
last_result={'type':'FeatureCollection','features':temp}
last_result

In [ ]:
# ddd=json.dumps(last_result,'./median_income_us_geo.json')
j = json.dumps(last_result)
f = open('./median_income_us_geo.json', 'w')
f.write(j)
f.close()

In [ ]:
## this is to text reading from a cloud csv file
tax_df=pd.read_csv("https://s3-us-west-2.amazonaws.com/usmapgeojson/FederalTaxBrackets.csv").set_index('Order')
tax_df.head(8)

In [ ]:

filtered_tax_df=tax_df[(tax_df['Filing Status']=='Single')& \
                       (tax_df['Tax Year']==2018) ] \
                .sort_values(by='Tax Bracket',ascending=True)
filtered_tax_df.head(8)

In [ ]:
income=100000
fed_tax_accum_dollar=0
index_max=filtered_tax_df.index.max()
for index, row in filtered_tax_df.iterrows():
    if (income>=row['Tax Bracket']) & (index+1<index_max) \
                                    & (income<=filtered_tax_df.loc[index+1]['Tax Bracket']):
        fed_tax_accum_dollar=row['Accumulated_Tax'] \
                            +(income-row['Tax Bracket'])*row['Tax Rate']
        break
    else:
        continue
fed_tax_accum_dollar
fed_tax_accum_rate=fed_tax_accum_dollar/income

In [ ]:
fed_tax_accum_rate

In [ ]:
#this is the calculating fed tax rate function
tax_df=pd.read_csv("https://s3-us-west-2.amazonaws.com/usmapgeojson/FederalTaxBrackets.csv").set_index('Order')
def calc_fed_tax(income,year,filing_status):
    filtered_tax_df=tax_df[(tax_df['Filing Status']=='Single')& \
                       (tax_df['Tax Year']==2018) ] \
                .sort_values(by='Tax Bracket',ascending=True)
    index_max=filtered_tax_df.index.max()
    fed_tax_accum_dollar=0
    for index, row in filtered_tax_df.iterrows():
        if (income>=row['Tax Bracket']) & (index+1<index_max) \
                                    & (income<=filtered_tax_df.loc[index+1]['Tax Bracket']):
            fed_tax_accum_dollar=row['Accumulated_Tax'] \
                                +(income-row['Tax Bracket'])*row['Tax Rate']
            break
        else:
            continue
    fed_tax_accum_rate=fed_tax_accum_dollar/income
    return (fed_tax_accum_dollar,fed_tax_accum_rate)

In [ ]:
calc_fed_tax(80000,2017,'Single')